.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.paginationButtuns { 
  margin-top: 30px;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationButtuns a {
  padding: 10px;
  margin: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #ced4cf;
  cursor: pointer;
  transition: 0.1s background-color ease-in;
  transition: 0.1s color ease-in;
}

.paginationButtuns a:hover {
  background-color: rgb(227, 243, 253);
  color: #059411;
}

.paginationDisabled a {
  background-color: gray;
  border: 0px;
  color: white;
}

.paginationActive a {
  background-color: rgb(227, 243, 253);
  color: #059411;
}

